.CurrentTest {
    /*padding: 15px;*/
    /*margin: 5px;*/
    /*border: 1px solid;*/
    /*width: 150px;*/
}

.CurrentTest .p-paginator {
    text-align: left;
    width: 60%;
    margin: auto;
    margin-bottom: 15px;
}

.CurrentTest-head span {
    font-weight: normal;
    font-size: 1rem;
}

.CurrentTestQuestion {
    text-align: left;
    width: 60%;
    margin: auto;
}

.possibleAnswer {
    margin: 15px;
}
.possibleAnswer label {
    margin-left: 10px;
}