.card {
  position: relative;
  height: 100%;
}

.card :global .p-card-title {
  word-break: break-word;
}

.card :global .p-card-content {
  margin-bottom: 15px;
}

.card :global .p-card-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}

.CurrentTest {
  /*padding: 15px;*/
  /*margin: 5px;*/
  /*border: 1px solid;*/
  /*width: 150px;*/
}

.CurrentTest .loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /*background-color: wheat;*/
  justify-content: center;
}

.CurrentTest .p-paginator {
  text-align: left;
  width: 60%;
  margin: auto;
  margin-bottom: 15px;
}

.CurrentTest-head span {
  font-weight: normal;
  font-size: 1rem;
}

.CurrentTestQuestion {
  text-align: left;
  width: 60%;
  margin: auto;
}

.possibleAnswer {
  margin: 15px;
}
.possibleAnswer label {
  margin-left: 10px;
}

.header {
  margin-bottom: 15px;
}
